* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

html body {
  background: #e7e0e075;
}

.list-item {
  display: flex;
  align-items: baseline;
}

li.list-item {
  display: flex;
  height: 60px;
}

.card {
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  border: 0;
}

i {
  color: #b9b3b3;
}

input.checkbox-class {
  border-color: #b9b3b3;
}

.add {
  font-style: italic;
  color: #b9b3b3;
  height: 60px;
  justify-content: space-between;
}

header.list-item {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border: 1px solid #e7e0e075;
}

p.list-item {
  height: 60px;
  border: 1px solid #e7e0e075;
  margin-bottom: 0;
}

input#new-task {
  font-style: italic;
}

p.heading {
  font-size: 20px;
  font-weight: 10;
}

span.clear {
  display: flex;
  margin: auto;
  color: #7e7a7a;
}

button#clear {
  background: #e7e0e075;
  display: flex;
}

li {
  list-style-type: none;
}

ul#tasklist {
  margin-bottom: 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 60px;
  border: 1px solid #e7e0e075;
}

.remove-button {
  background: #fff;
  color: gray;
}

.remove-button:active {
  color: #ff0000c7;
}
